*.o
*.lo
*.a
*.lib
*.obj
*.dll
*.dylib
*.so
*.so.*
*.exe
a.out
lib/

aclocal.m4
autotools/
autom4te.cache
m4/
Makefile
Makefile.in
config.h
config.log
config.status
configure

*.err
*.orig
*.rej
*~
*.swp
